
body{
  background: #f1f1f1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.w3-jumbo {
  font-size: 44px!important;
}
.card-view {
  background: linear-gradient(to right, rgba(52, 58, 64, 0.8), #b1b1b1);
  margin: 0px auto;
  border: 2px solid #343a40;
  transition: .3s;
}
.card {
  height: 14rem;
  width: 20rem;
  border: none;
}
.card-body {
  overflow: hidden;
}
.card-body p i {
  font-size: small;
}
.card-view:hover {
  box-shadow: rgba(63, 46, 46, 0.2) 12px 15px 15px;
}
.tags {
  padding-left: 7px;
  padding-right: 6px;
  padding-bottom: 2px;
  background: rgb(201, 201, 201);
  margin: 7px auto;
  border-radius: 3px;
  font-weight: 600;
  font-size: 13px;
  font-family: monospace;
  margin-left: 4px;
  hyphens: auto;
}
.main-content{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.add-books{
  position: relative;
  justify-content: center;
  height: 450px;
  width: 400px;
  padding-right: 15px;
  padding-left: 15px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border-radius: 10px;
  box-shadow: 0px 0 15px 0 rgb(166, 193, 238, 0.5);
  transition: .3s;
}
.add-books:hover{
  box-shadow: 0px 0 30px 0 rgb(166, 193, 238, 0.8);
}
.action-form{
  margin: 25px 18px 35px 20px;
  font-weight: 600;
  transition: .3s;
}

.action-form p {
  color: red;
  margin-bottom: 0px!important;
  position: absolute;
}

.input-content {
  height: 40px;
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  margin-left: -3px;
  margin-top: 36px;
  padding: .675rem .75rem;
  transition: .3s;
}

.submit-btn{
  margin-left: 6%;
  background: rgba(74, 42, 233, 0.7);
  border: 0;
  height: 40px;
  width: 70%!important;
  padding: 10px 35px;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  font-weight: 600;
  bottom: 58px;
  position: absolute;
}
.submit-btn:hover{
  background: rgba(74, 42, 233);
  cursor: pointer;
}

#cardss {
  position: relative;
  height: 450px;
  width: 400px;
  display: block;
  margin: 40px auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#upper-side {
  padding: 2em;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#upper-side img {
  height: 100px;
}

#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: .2em;
  margin-bottom: 0;
}

#lower-side {
  padding: 2em 2em 6em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#message {
  margin-top: -.5em;
  color: #757575;
  letter-spacing: 1px;
}

#contBtn {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  color: #fff;
  margin: auto;
  padding: .8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.31);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.31);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.31);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}

#contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.51);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.51);
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}
.success {
  background: #8bc34a;
}
.failed {
  background: red;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.search-bar{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 50%;
  height: 50px;
}

.search-button{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: 600;
}

.search-button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .search-bar, .search-button {
    float: none;
    display: block;
    text-align: center;
    margin: 0;
    height: 40px;
  }
  .search-bar {
    border: 1px solid #ccc;  
    width: 65%;
  }
}